@keyframes envelope {
	0% {
		transform: scale(1);
	}
	30%{
		transform: scale(1.2);
	}
	60%{
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes banner {
	0% {
		transform: scale(1);
	}
	20%{
		transform: scale(1.1);
	}
	40%{
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

.b-area-plan__title h2{
	margin-bottom: revert;
}
.b-main-screen-content{
	padding-top: 500px !important;
}
@media only screen and (max-width: 1366px){
	.b-main-screen-content{
		padding-top: 300px !important;
	}
}
@media only screen and (min-width: 1600px){
	.l-home__block h2, .b-invest-resident__title {
	    font-size: 75px;
		margin-bottom: 80px;
	}
}
.b-main-screen-text{
	max-width: 100% !important;
}
.b-main-screen-text-desc{
	text-align: justify;
}
.b-area-map__content {
    height: 750px;
}
.b-infrastructure-place__img{
	height: 357px;
}
.b-infrastructure-place__img img{
	max-height: 100%;
}
@media only screen and (max-width: 1440px){
	.b-infrastructure-place__img{
		height: 257px;
	}
}
@media only screen and (max-width: 1024px){
	.b-infrastructure-place__img{
		height: 157px;
	}
}
@media only screen and (max-width: 768px){
	.b-infrastructure-place__img{
		height: 257px;
	}
}
@media only screen and (min-width: 1920px){
	.l-contacts__map {
	    height: 660px;
	}
}
#benefits{
	margin-top: 50px;
}
.l-home__privileges {
    z-index: 2;
}
.b-infrastructure-place__title {
    height: 38px;
}
.l-home__advantages{
	background-color: rgba(239,239,244,.5);
	overflow: hidden;
}
.l-home__advantages.l-home__block{
	padding-bottom: 90px;
}
.l-home__advantages h2{
	margin-bottom: 0;

}
.l-home__advantages-text{
	position: relative;
	clear: both;
	overflow: hidden;
}
.l-home__advantages-text-title{
	margin-bottom: 50px;
    display: block;
    margin-top: 60px;
    margin-left: 50px;
    font-size: 48px;
	line-height: 117%;
	color: #313F9A;
	background: -webkit-linear-gradient(306.61deg, #662E91 19.38%, rgba(101, 45, 145, 0) 69.68%), #313F9A;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	font-weight: bold;
}
.l-home__advantages-number{
	position: absolute;
	font-weight: bold;
	font-size: 160px;
	color: #313F9A;
	background: -webkit-linear-gradient(306.61deg, #662E91 19.38%, rgba(101, 45, 145, 0) 69.68%), #313F9A;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	opacity: 0.12;
    display: block;
    top: 18px;
    left: -10px;
}
.l-home__advantages-content{
	width: 55%;
	float: left;
}
.l-home__advantages-text._short .l-home__advantages-content{
	width: 40%;
}
.l-home__advantages-text-block{
	font-size: 20px;
    line-height: 190%;
    list-style: none;
    list-style-position: outside;
    margin-bottom: 40px;
}
.l-home__advantages-text-block span, .l-home__advantages-text-block strong{
	color: #662E91;
}
ul.l-home__advantages-text-block{
	margin-top: 40px;
}
.l-home__advantages-text-block li{
	line-height: 190%;
	padding-left: 160px;
	position: relative;
	margin-bottom: 20px;
}
.l-home__advantages-text-block li::before{
	content: "";
	display: block;
	height: 2px;
	width: 107px;
	position: absolute;
	left: 0;
    top: 18px;
	background: linear-gradient(90deg, #3F3F99 0%, #7F51A3 100%);
}
.l-home__advantages-info{
    margin-top: 60px;
    margin-left: 160px;
}
.l-home__advantages-image{
	width: 396px;
	height: 100%;
	min-height: 364px;
	max-height: 800px;
	float: left;
	margin-right: 50px;
}
.l-home__advantages-image img{
	max-width: 100%;
}
@media only screen and (max-width: 1024px){
	.l-home__advantages-text-block{
		font-size: 16px;
	}
	.l-home__advantages-content{
		width: 80%;
	}
	.l-home__advantages-image{
		margin-bottom: 30px;
	}
	.l-home__advantages-number{
		font-size: 140px;
	    left: 0;
	    top: 25px;
	}
	.l-home__advantages-text-title{
		font-size: 40px;
	}
}
@media only screen and (max-width: 768px){
	.l-home__advantages-text-block{
		font-size: 14px;
	}
}
@media only screen and (max-width: 480px){
	.l-home__advantages-number{
		font-size: 90px;
		left: 0;
	}
	.l-home__advantages-text-title{
		font-size: 30px;
		margin-top: 50px;
	}
	.l-home__advantages-info{
		margin-left: 0;
	}
	.l-home__advantages-image, .l-home__advantages-content{
		width: 100%;
	}
}
.b-yandex-map__html-marker-2{
	display: inline-block;
    width: auto;
    height: auto;
    line-height: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.b-yandex-map__html-marker-2:after{
	bottom: -9px;
}
.b-area-plan__point{
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    border-width: 6px;
    top: 14px;
    left: 10px;
    margin-right: 10px;
}
.open-feedback{
    width: 70px;
    height: 71px;
    background-image: url(/images/custom/letter.svg);
    background-size: 100%;
    z-index: 10;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    animation: envelope 3.5s infinite ease-out;
}
.open-feedback-round{
	width: 70px;
    height: 70px;
    overflow: hidden;
    position: fixed;
    right: 70px;
    bottom: 40px;
    border-radius: 50%;
    box-shadow: 0 11px 24px 5px rgba(0,0,0,0.10);
    cursor: pointer;
    z-index: 10;
}
.open-feedback__ring{
	display: block;
	width: 68px;
    height: 68px;
	border: 5px solid #fff;
	border-radius: 50%;
	transform: scale(1.1);
	position: fixed;
    right: 71px;
    bottom: 41px;
}

.b-area-main-feature__value {
    font-size: 70px;
}
.b-area-main-feature__description {
	font-size: 24px;
}
@media only screen and (max-width: 1366px){
	.b-area-main-feature__value {
	    font-size: 60px;
	}
	.b-area-main-feature__description {
	    font-size: 18px;
	}
}
@media only screen and (max-width: 1024px){
	.b-area-main-feature__value {
	    font-size: 50px;
	}
}
@media only screen and (max-width: 768px){
	.b-area-main-feature__value {
	    font-size: 40px;
	}
	.b-area-main-feature__description {
	    font-size: 14px;
	}
}
.map-cluster-list a{
	font-size: 20px;
    line-height: 170%;
}
ymaps[class*="balloon_layout_normal"]{
	padding: 0;
	box-shadow: none;
}
ymaps[class$="balloon__layout"]{
	position: relative;
    display: inline-table;
    width: 100%;
    height: 28px;
    margin-top: 6px;
    padding: 0 14px;
    font-size: 14px;
    line-height: 28px;
    background: #30409a;
    color: #fff;
    border-radius: 28px;
    box-shadow: none;
    border: none;
}
ymaps[class$="balloon__content"]{
	font-family: Brutal-bold,sans-serif;
	background: #30409a;
    color: #fff;
}
ymaps .map-cluster-list a{
	color: #fff;
}
ymaps[class$="balloon__close-button"]{
	filter: invert(1);
}
ymaps[class$="balloon__tail"]:after{
	background-color: #30409a;
}
.b-infrastructure-place{
    padding-bottom: 80px;
    border: 5px solid #fff;
    padding: 40px;
    border-radius: 10px;
}

@media only screen and (min-width: 1240px){
	.b-infrastructure-place{
		flex-basis: 25%;
	    max-width: 25%;
	    min-width: 25%;
	}
}
@media only screen and (max-width: 1240px){
	.b-infrastructure-place{
	    max-width: 40%;
	}
}
@media only screen and (max-width: 480px){
	.b-infrastructure-place{
	    max-width: 100%;
	}
}
.b-infrastructure-place:hover{
	border-color: #efeff4;
}
.b-icons-list{
	display: block;
}
.b-icons-list__item,
.b-icons-list__item:first-child,
.b-icons-list__item:nth-child(2),
.b-icons-list__item:nth-child(3),
.b-icons-list__item:nth-child(4){
	width: 100%;
}
.faq-search{
	position: relative;
	max-width: 1020px;
	width: 100%;
}
.faq-search__field{
	width: 100%;
	height: 86px;
	background: #efeff4;
	font-size: 34px;
	color: rgba(68, 57, 151, 0.5);
	border: none;
	outline: none;
	margin-top: 15px;
    margin-bottom: 60px;
    padding: 0 30px;
    display: block;
}
.faq-search::before{
	content: "";
	display: block;
	width: 40px;
	height: 40px;
	background-image: url('/images/custom/glass.svg');
	background-size: cover;
	position: absolute;
	right: 20px;
    top: 25px;
}
.faq-search__field::placeholder{
	color: rgba(68, 57, 151, 0.5);
}
.l-faq{
	padding: 32px 0 36px
}
.b-faq-title{
	padding-left: 11.11111%;
   	padding-right: 11.11111%;
}
.b-faq-title h1{
	font-size: 26px;
}
.faq-group__title{
	cursor: pointer;
}
.faq-group__title h3{
	width: 100%;
    margin: 0;
    padding-left: 26.11111%;
   	padding-right: 11.11111%;
   	line-height: 220%
}
.faq-list{

}
.faq-group{

}
.faq-group__title{
	height: 86px;
	background: #efeff4;
	font-size: 50px;
	line-height: 62px;
	color: #443997;
	display: flex;
	align-items: center;
	position: relative;
}
.faq-group__item{
	position: relative;
    padding-top: 10px;
}
.faq-group__item ol, .faq-group__item ul{
	padding-bottom: 20px;
}
.faq-group__item ol{
	list-style: decimal inside;
}
.faq-group__item ul{
	list-style: disc inside;
}
.faq-group__item ol li, .faq-group__item ul li{
    padding-left: 20px;
    line-height: 150%;
}
.faq-group__item-title{
	font-size: 34px;
	padding-left: 80px;
	position: relative;
	cursor: pointer;
}
.faq-group__item-title span{
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid;
    top: 0;
    color: #313F9A;
	/*background: -webkit-linear-gradient(306.61deg, #662E91 19.38%, rgba(101, 45, 145, 0) 69.68%), #313F9A;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;*/
  	border-color: #313F9A;
}
.faq-group__item-content{
	margin-top: 80px;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 60px;
    padding-left: 82px;
    position: relative;
    max-height: 2000px;
    transition: .3s;
}
.faq-group__item-content_close{
	max-height: 0;
	margin-bottom: 0;
	overflow: hidden;
	margin-top: 50px;
}
.faq-group__item-content p, .faq-group__item-content ul{
	margin-bottom: 25px;
	position: relative;
}
.faq-group__item-content p._marked::before{
	content: "";
	display: block;
	height: 2px;
	width: 107px;
	position: absolute;
    left: 0;
    top: -23px;
	background: linear-gradient(90deg, #3F3F99 0%, #7F51A3 100%);
}
.faq-group__items hr{
	width: 100%;
	height: 11px;
	background-color: #efeff4;
	border: none;
	margin-bottom: 46px;
}
.faq-group__item-open, .faq-group-open{
	position: absolute;
    width: 56px;
    height: 56px;
    background: #efeff4;
    right: 20px;
    top: -8px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    z-index: 10;
}
.faq-group-open{
	right: auto;
	left: 8%;
	top: 15px;
}
.faq-group__item-open_open{
	top: auto;
    bottom: 0;
}
.faq-group-open_open{
	top: 15px;
	bottom: auto;
	transform: rotate(180deg);
}
.faq-group__item-open::before, .faq-group-open::before{
	content: "";
	width: 20px;
	height: 20px;
	border-top: 2px solid #443997;
	border-left: 2px solid #443997;
	transform: rotate(-135deg);
	display: block;
	position: absolute;
    left: 33%;
    top: 25%;
    transition: .1s;
}
.faq-group__item-open_open::before{
	transform: rotate(45deg);
	left: 33%;
    top: 43%;
}
.faq-group__items{
	max-height: 10000px;
	transition: .3s;
	overflow: hidden;
	margin-top: 60px;
}
.faq-group__items_close{
	max-height: 0;
	margin-top: 20px;
}

@media only screen and (min-width: 480px) {
	.faq-group__item-title span{
		top: -5px;
	}
}

@media only screen and (min-width: 670px) {
    .l-faq {
        padding-top: 40px;
        padding-bottom: 48px;
    }
    .faq-group__title h3{
		padding-left: 15%;
	}
	.b-faq-title h1{
		font-size: 30px;
	}

}
@media only screen and (min-width: 960px) {
    .l-faq {
        padding-top: 40px;
        padding-bottom: 48px;
    }
    .faq-group__title h3{
		padding-left: 15%;
	}
	.b-faq-title h1{
		font-size: 50px;
	}
	.faq-group__item {
	    padding-left: 8.33333%;
    	padding-right: 8.33333%;
	}
}
@media only screen and (min-width: 1280px) {
    .l-faq {
        padding-top: 64px;
        padding-bottom: 76px;
    }
    .b-faq-title{
		padding-left: 8.33333%;
	   	padding-right: 8.33333%;
	}
	.faq-group__title h3{
		padding-left: 13.5%;
	   	padding-right: 8.33333%;
	}
	.faq-group__item{
		padding-left: 8.33333%;
	   	padding-right: 8.33333%;
	}
	.b-faq-title h1{
		font-size: 64px;
	}
}

@media only screen and (min-width: 1600px) {
    .l-faq {
        padding-top: 80px;
        padding-bottom: 120px;
    }
    .faq-group__title h3{
		padding-left: 12.5%;
	   	padding-right: 8.33333%;
	}
	h3.faq-group-open-trigger{
		font-size: 36px;
	}
}
@media only screen and (min-width: 1920px) {
    .l-faq {
        padding-top: 80px;
        padding-bottom: 120px;
    }
    .b-faq-title{
		padding-left: 11.11111%;
	   	padding-right: 11.11111%;
	}
	.faq-group__title h3{
		padding-left: 15.11111%;
	   	padding-right: 11.11111%;
	}
	.faq-group__item{
		padding-left: 11.11111%;
	   	padding-right: 11.11111%;
	}
	.faq-group-open{
		left: 10.5%;
	}
}
@media only screen and (min-width: 2560px) {
    .l-faq {
        padding-top:80px;
        padding-bottom:120px;
    }
}
@media only screen and (max-width: 1024px) {
	.faq-search__field{
		font-size: 20px;
    	height: 60px;
	}
	.faq-search::before {
	    width: 30px;
	    height: 30px;
	    top: 16px;
	}
	.faq-group__item-title{
		/*padding-left: 15.11111%;
	   	padding-right: 11.11111%;*/
	}
	.faq-group__item-content{
		max-width: 80%;
		padding-left: 90px;
	}
	.faq-group__item-content ul{
		font-size: 16px;
	}
	.faq-group__item-content p._marked::before{
		width: 60px;
	}
	.faq-group__item-title span{
		/*left: 9%;*/
	}
}
@media only screen and (max-width: 768px) {
	.faq-group__item-title {
	    font-size: 28px;
	    padding-left: 20%;
	}
	.faq-group__item-title span {
		left: 9%;
	}
	.faq-group__item-content{

	}
}
@media only screen and (max-width: 480px) {
	.faq-search::before {
	    width: 20px;
	    height: 20px;
	    top: 20px;
	    right: 10px;
	}
	.faq-group__item-title {
	    font-size: 18px;
	    padding: 0 20%;
	}
	.faq-group__item-content p._marked::before {
	    width: 25px;
	}
	.faq-group__item-content {
	    padding-left: 88px;
	}
	.faq-group__item-content ul{
		font-size: 14px;
	}
	.faq-group__item-title span {
	    width: 30px;
	    height: 30px;
	}
	.faq-group__item-open {
	    width: 36px;
	    height: 36px;
	}
	.faq-group__item-open::before {
	    width: 12px;
	    height: 12px;
	    top: 28%;
	}
	.faq-group__item-open_open::before {
	    top: 38%;
	}
}
@media only screen and (max-width: 320px) {
	.faq-group__item-content {
	    padding-left: 64px;
	}
	.faq-group__title h3{
		line-height: 120%;
	}
}
.l-home__main-screen.is-active-overlay{
	overflow: visible;
}
.banner{
	max-width: 1100px;
	min-height: 156px;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 10;
    padding:  15px 35px 0 40px;
    display:  none;
    animation: banner 5s infinite ease-out;
}
.banner__overlay{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .7;
}
.banner__title{
	font-size: 30px;
	line-height: 50px;
	color: #fff;
	padding: 0;
	position: relative;
}
.banner__text{
	color: #fff;
	font-size: 18px;
	line-height: 33px;
	max-width: 670px;
	padding: 0;
	position: relative;
	display: flex;
    align-items: center;
    min-height: 65px;
}
.banner__button{
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	color: #fff;
	font-size: 18px;
	width: 300px;
	height: 60px;
	position: absolute;
	right: 38px;
	bottom: 28px;
    padding: 0 0 0 32px;
    display: flex;
    align-items: center;
}
.banner__button::before{
	content: "";
	display: block;
	width: 15px;
	height: 1px;
	background-color: #fff;
    right: 24px;
    top: 50%;
    position: absolute;
}
.banner__button::after{
	content: "";
	display: block;
    width: 7px;
    height: 7px;
    right: 24px;
    top: calc(50% - 3px);
    position: absolute;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(45deg);
}
.banner__closer{
	position: absolute;
	top: 22px;
	right: 37px;
	width: 18px;
	height: 18px;
}
.banner__closer::before, .banner__closer::after{
	content: "";
	display: block;
	width: 2px;
	height: 18px;
	background-color: #fff;
	position: absolute;
}
.banner__closer::before{
	right: 8px;
    transform: rotate(45deg);
    top: 0;
}
.banner__closer::after{
	right: 8px;
    transform: rotate(-45deg);
    top: 0;
}
.banner_simple{
	max-width: 60%;
	min-height: 156px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 10;
	padding: 0;
}
.banner_simple-wrapper {
	display: flex;
	justify-content: center;
	padding-bottom: 160px;
}
.b-news__button {
	float: left;
}
.l-home__banner-1 .banner-wrapper {
	padding: 90px 12% 0 14%;
}
.l-home__banner-2 .banner-wrapper {
	padding: 0 12% 0 14%;
}
.b-about-banner {
	padding: 0 8% 100px 8%;
}
.b-about-desc {
	padding-bottom:  0;
}
.l-services-banner {
	padding-left: 8%;
    position: absolute;
    bottom: -80px;
    float: left;
    width: 100%;
}
.b-services__text {
	position: relative;
	padding-bottom: 80px;
}
.l-residents-banner {
	margin-bottom:  60px;
}
.l-news-banner {
	margin-top: 0;
}
.l-news__title {
	width:  100%;
}

@media only screen and (max-width: 1024px) {
	.banner {
		padding-bottom: 35px;
	}
	.banner__button {
    	width: 200px;
	    position: relative;
	    margin: 20px 0 0 0;
	    height: 50px;
	    right: auto;
	    bottom: auto;
	}
	.l-services-banner {
		padding: 0;
	    position: static;
	    float: none;
	}
}

@media only screen and (max-width: 480px) {
	.banner {
    	display: none;
	}
	.l-residents-banner, .l-news-banner {
		margin:  0;
	}
	.l-home__banner-1 .banner-wrapper,
	.l-home__banner-2 .banner-wrapper,
	.b-about-banner {
		padding: 0;
	}
}

.b-resident__category{
	font-size: 18px;
}
.b-resident__popup-open{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
._pointer{
	cursor: pointer;
}
@media only screen and (min-width: 1024px){
	[data-popup^="#resident"] .b-popup__wrap {
		width: 860px;
	}
}
[data-popup^="#resident"] .b-popup__content{
	padding: 0;
}
.resident-popup-open__logo{
	width: 220px;
    position: absolute;
    background: #fff;
    z-index: 2;
}
[data-popup^="#resident"] .b-popup__close{
	z-index: 3;
}
[data-popup^="#resident"] .b-popup__close:after, [data-popup^="#resident"] .b-popup__close:before{
	background-color: #fff;
}
.resident-popup-open__image{
	height: 370px;
	overflow: hidden;
	margin-bottom: 40px;
	position: relative;
	background: #a8b1e2;
}
.resident-popup-open__image img{
	position: absolute;
	z-index: 1;
	width: 100%;
	display: none;
}
.resident-popup-open__image img.visible-image{
	display: block;
}
.resident-popup-open__image-next{
	position: absolute;
	z-index: 2;
	width: 60px;
	height: 60px;
	border: 1px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	bottom: 50px;
	right: 40px;
}
.resident-popup-open__image-next::after{
	content: "";
	width: 15px;
	height: 15px;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	position: absolute;
	transform: rotate(45deg);
	left: 32%;
    top: 37%;
}
.resident-popup-open__title{
	font-size: 40px;
	font-weight: 700;
	float: left;
	max-width: 70%;
	margin-bottom: 40px;
}
.resident-popup-open__content{
	padding: 0 50px 70px 70px;
	overflow: hidden;
}
.resident-popup-open__date{
	float: right;
	max-width: 40%;
	background: #EFEFF4;
	border-radius: 16px;
	position: relative;
	padding: 6px 15px 6px 40px;
    margin-top: 14px;
}
.resident-popup-open__date::before{
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url('/images/custom/clock.svg');
	background-size: cover;
	background-repeat: no-repeat;
	left: 12px;
    top: 9px;
}
.resident-popup-open__text{
	font-size: 20px;
	line-height: 135%;
	color: #292F30;
	opacity: 0.72;
	margin-bottom: 50px;
}
.resident-popup-open__info{

}
.resident-popup-open__contacts{
	width: 40%;
	float: left;
}
.resident-popup-open__address{
	width: 60%;
	float: left;
}
.resident-popup-open__contacts-title{
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: #292F30;
}
.resident-popup-open__contacts-phone{
	font-size: 18px;
	line-height: 36px;
}
.resident-popup-open__contacts-phone a{
	color: #30409A;
}
.b-resident__inner:hover {
	position: relative;
    box-shadow: 0 10px 20px rgba(48,64,154,.2);
}
@media only screen and (max-width: 480px){
	.resident-popup-open__logo {
	    width: 130px;
	}
	.resident-popup-open__image {
    	height: 180px;
	}
	.resident-popup-open__title {
	    font-size: 18px;
	    float: none;
	    max-width: 100%;
	    margin-bottom: 20px;
	}
	.resident-popup-open__date {
    	float: none;
    	max-width: 100%;
	}
	.resident-popup-open__content {
	    padding: 0 20px 70px 30px;
	}
	.resident-popup-open__text {
	    font-size: 14px;
	    margin-bottom: 30px;
	    margin-top: 20px;
	}
	.resident-popup-open__contacts {
	    width: 100%;
	    float: none;
	}
	.resident-popup-open__address {
	    width: 100%;
	    float: none;
	    margin-top: 20px;
	}
	.resident-popup-open__contacts-title {
	    font-size: 16px;
	    line-height: 24px
	}
	.resident-popup-open__contacts-phone {
	    font-size: 16px;
	    line-height: 24px;
	}
}
.l-contacts__map-text-item:nth-child(2){
	border-bottom: 1px solid #d3d4e0;
}
.b-infrastructure-place__name{
	font-size: 30px;
}
@media only screen and (max-width: 1366px){
	.b-infrastructure-place__name {
	    font-size: 28px;
	}
}
@media only screen and (max-width: 1024px){
	.b-infrastructure-place__name {
	    font-size: 24px;
	}
}
.l-contacts__title {
    padding-top: 40px;
}
.l-contacts__map-text.l-contacts__map-text-scroll{
    height: 660px;
    margin-top: 0;
    right: 0;
    box-shadow: none;
    width: 786px;
    max-width: 1280px;
    background: linear-gradient(306.61deg, rgb(102 46 145 / 0.86) 19.38%, rgba(101, 45, 145, 0) 69.68%), rgb(49 63 154 / 0.86);
    color: #fff;
}
.l-contacts__map-text-scroll[data-scrollbar]{
	right: 90px;
}
.l-contacts__map-text-scroll .l-contacts__block-title{
	color: #fff;
	padding-top: 0;
	padding-left: 0;
	margin-bottom: 27px;
	font-weight: bold;
}
.l-contacts__block-main .l-contacts__block-title{
	padding-left: 60px;
	position: relative;
	margin-bottom: 57px;
	padding-top: 0;
}
.l-contacts__block-main{
	margin-bottom: 25px;
}
.l-contacts__block-main .l-contacts__block-title::before{
	content: "";
	display: block;
	position: absolute;
	width: 30px;
	height: 43px;
	background-image: url('/images/custom/map_point.svg');
	background-size: contain;
	background-repeat: no-repeat;
	left: 0;
}
.l-contacts__map-text-scroll .l-contacts__block-title h2{
	font-size: 30px;
}
.l-contacts__map-text-scroll .l-contacts__block{
	color: #fff;
	padding-top: 0;
}
.l-contacts__map-text-scroll a{
	color: #fff;
}
.l-contacts__map-text-scroll .l-contacts__block-content{
	padding-left: 0;
	font-size: 24px;
}
.l-contacts__map-text-scroll .b-link-line{
	color: #A5B2FF;
}
.l-contacts__map-text-scroll .l-contacts__block-list{
    background: none;
    padding: 0;
}
.l-contacts__map-text-scroll .l-contacts__block-item{
	flex-basis: 50%;
    max-width: 50%;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 45px;
}
.l-contacts__map-text-scroll .l-contacts__block-item-name{
	color: #fff;
}
.l-contacts__map-text-scroll .l-contacts__block-item-work{
	color: #fff;
    line-height: 27px;
    /*height: 80px;*/
    min-height: 20px;
}
.l-contacts__map-text-scroll .l-contacts__block-item-phone{
	color: #fff;
}
.l-contacts__map-wrapper{
	padding-bottom: 100px;
    max-width: 96%;
    margin: auto;
}
.l-contacts__title{
	position: relative;
}
.l-contacts__closer{
	width: 20px;
	height: 20px;
	position: absolute;
	background-image: url('/images/custom/contact_closer.svg');
	background-size: contain;
	background-repeat: no-repeat;
	top: 20px;
	right: 63px;
	cursor: pointer;
}
.l-contacts__opener{
	top: 20px;
	right: 30px;
	cursor: pointer;
	position: absolute;
	background: rgba(102, 45, 145, 0.8);
	border-radius: 4px;
	padding: 20px 36px;
	display: none;
	color: #fff;
}
.scrollbar-track.scrollbar-track-y{
	display: block;
    opacity: 1;
    width: 17px;
    background: #662D91;
    opacity: 0.7;
    border-radius: 30px;
}
.scrollbar-thumb.scrollbar-thumb-y{
	background: url('/images/custom/scroll_bg.svg') no-repeat center center, linear-gradient(180deg, #DADADA 0%, rgba(255, 255, 255, 1) 100%);
	border-radius: 30px;
	width: 17px;
}
.l-contacts__content-scroll{
	overflow: auto;
    height: 550px;
    margin-top: 60px;
    position: relative;
}
@media only screen and (max-width: 1366px){
	.l-contacts__map-text.l-contacts__map-text-scroll{
		width: 586px;
	}
	.l-contacts__map-text-scroll .l-contacts__block-title h2 {
	    font-size: 24px;
	}
	.l-contacts__map-text-scroll .l-contacts__block-title {
	    margin-bottom: 27px;
		padding-top: 0;
	}
	.l-contacts__map-text-scroll .l-contacts__block-content {
	    font-size: 18px;
	}
	.l-contacts__block-main {
	    margin-bottom: 0;
	}
}
@media only screen and (max-width: 1280px){
	.l-contacts__map-text.l-contacts__map-text-scroll{
		width: 100%;
		position: relative;
   		top: 540px;
	}
	.l-contacts__map-wrapper {
	    margin: 0 auto 700px;
	}
	.l-contacts__closer{
		display: none;
	}
}
@media only screen and (max-width: 480px){
	.l-contacts__map-text.l-contacts__map-text-scroll {
	    top: 340px;
	}
}
ymaps[class$="balloon__close"]+[class$="balloon__content"]{
	margin-right: 0;
}
.investors-calc{
	margin-top: 70px;
	overflow: hidden;
}
#investors-calc .b-invest-conditions{
	padding-bottom: 0;
}

.investors-calc__fields{
	padding-left: 0;
    width: 56%;
    padding-right: 35px;
  	float: left;
}
.investors-calc__fields label{
	color: #30409A;
	font-weight: bold;
	font-size: 18px;
	padding-top: 20px;
	display: block;
	width: 100%;
	text-align: left;
	line-height: 250%;
	border-bottom: 1px solid #30409A;
    padding-bottom: 20px;
    overflow: hidden;
}
p.investors-calc__error{
    margin-top: 40px;
    font-weight: 400;
    margin-bottom: 40px;
    margin-left: 30px;
    color: #d23636;
}
p.investors-calc__subtitle{
	font-size: 24px;
	line-height: 30px;
	color: #443997;
	margin: 30px 0;
}
.investors-calc__fields label::after{
/*	content: "";*/
	display: block;
	height: 12px;
	width: 100%;
	background: linear-gradient(90deg, rgba(63, 63, 153, 0.12) 0%, rgba(127, 81, 163, 0.12) 100%);
	clear: both;
}
.investors-calc__fields label span{
    width: 56%;
    float: left;
    line-height: 150%;
    height: 40px;
    display: flex;
    align-items: center;
}
.investors-calc__fields-field{
	display: block;
	float: right;
	width: 265px;
	height: 40px;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	outline: none;
	font-size: 16px;
    line-height: 150%;
    padding-left: 10px;
}
.investors-calc__fields-field[disabled]{
	background-color: #eee;
}
.investors-calc__fields-field::placeholder{
	color: #BDBDBD;
}
.investors-calc__fields [type="checkbox"]{
	margin-top: 13px;
	float: left;
	margin-right: 20px;
	margin-left: 0;
}
.investors-calc__fields-button{
	outline: none;
	margin-left: 30px;
}
.investors-calc__result{
	width: 43%;
    margin-top: 20px;
    padding: 0;
	transition: all .5s;
	overflow: hidden;
	background: linear-gradient(306.61deg, #662E91 19.38%, rgba(101, 45, 145, 0) 69.68%), #313F9A;
	color: #fff;
	float: right;
	max-height: 0;
}
.investors-calc__result.open{
	max-height: 1000px;
	padding: 30px;
}
.investors-calc__result h4{
	font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}
.investors-calc__result-item{
	border-bottom: 1px solid #fff;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 25px;
    overflow: hidden;
    position: relative;
    padding-top: 30px;
}
.investors-calc__result-item._hidden{
	display: none;
}
.investors-calc__result p{
	width: 64%;
	float: left;
}
.investors-calc__result span{
	font-weight: bold;
    font-size: 34px;
    float: right;
    line-height: 40px;
    display: block;
    position: absolute;
    right: 100px;
    bottom: 20px;
}
.investors-calc__result span.investors-calc__result-measure{
	font-size: 12px;
    float: right;
    display: block;
    right: 0;
}
label.land-related, .land-related{
	display: none;
}
label.land-related.open, .land-related.open{
	display: block;
}
.open-calcres{
	float: right;
    margin-top: 35px;
    width: 43%;
    margin-left: 0;
    clear: right;
}
.land-related .investors-calc__utilities-description {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #828282;
    float: right;
    width: 55%;
    text-align: center;
    display: block;
    height: auto;
}
.investors-calc__fields label span.investors-calc__utilities{
	width: 40%;
}
.open-calcres{
	display: none;
}
.investors-calc__fields-subtitle{
	font-size: 36px;
    line-height: 44px;
    color: #443997;
    width: 70%;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1440px){
	.investors-calc__fields label{
		font-size: 14px;
	}
	.investors-calc__fields{
		padding-left: 0;
	}
	.investors-calc__fields-field{
		width: 210px;
		font-size: 16px;
		padding-left: 10px;
	}
	.investors-calc__result span{
		font-size: 30px;
	}
	p.investors-calc__subtitle{
		font-size: 20px;
	}
	.investors-calc__fields-subtitle{
		font-size: 30px;
	}
	.investors-calc__fields [type="checkbox"] {
	    margin-top: 14px;
	}
	.land-related .investors-calc__utilities-description{
		width: 50%;
	}
	.investors-calc__result p{
		font-size: 16px;
	}
	.investors-calc__fields label span{
		width: 58%;
	}
	.investors-calc__fields-field::placeholder{
		font-size: 12px;
	}
}

@media only screen and (max-width: 1366px){
	.investors-calc__result span {
	    font-size: 24px;
	}
}

@media only screen and (max-width: 1280px){
	.investors-calc__fields label span {
	    width: 50%;
	    line-height: 150%;
	    height: 40px;
	    display: flex;
	    align-items: center;
	}
	.investors-calc__fields [type="checkbox"] {
	    margin-top: 13px;
	}
	.land-related .investors-calc__utilities-description {
	    line-height: 130%;
	    font-size: 13px;
	}
	.investors-calc__result span {
	    font-size: 24px;
	    right: 90px;
	}
}
/*@media only screen and (max-width: 1024px){
	.investors-calc{
		margin-top: 40px;
	}
	.investors-calc__result p{
		width: 54%;
    	font-size: 14px;
    	line-height: 160%;
	}
	.investors-calc__fields-subtitle{
		font-size: 22px;
		line-height: 34px;
	}
	.investors-calc__result h4{
		font-size: 24px;
	}
	.investors-calc__fields label span {
	    width: 50%;
	    line-height: 150%;
	}
	.investors-calc__fields-field {
	    width: 176px;
	    font-size: 12px;
	    padding-left: 5px;
	}
	.investors-calc__result span {
	    font-size: 24px;
	    right: 90px;
	}
	.land-related .investors-calc__utilities-description {
    	font-size: 12px;
    	line-height: 16px;
	}
	.investors-calc__fields-button{
		font-size: 14px;
	}

}*/
@media only screen and (max-width: 1024px){
	.investors-calc__fields, .investors-calc__result{
		float: none;
		width: 100%;
	}
	.investors-calc__fields label{
		font-size: 16px;
	}
	.investors-calc__fields-field{
		width: 200px;
	}
	.investors-calc__fields-button{
    	margin-bottom: 20px;
    	margin-left: 0;
	}
	.investors-calc__fields-subtitle{
		font-size: 22px;
	}
	.investors-calc__result p {
	    width: 65%;
	    font-size: 16px;
	}
	.open-calcres{
		width: 56%;
	}
}
@media only screen and (max-width: 480px){
	.investors-calc__fields-subtitle {
	    font-size: 16px;
    	margin-bottom: 0;
    	line-height: 30px;
	}
	.investors-calc__fields-field {
	    width: 100%;
	    margin-top: 15px;
	}
	.investors-calc__fields label span{
		width: 85%;
	}
	p.investors-calc__subtitle{
		font-size: 16px;
		margin-bottom: 0;
	}
	.investors-calc__fields label span.investors-calc__utilities{
		width: 85%;
	}
	.land-related .investors-calc__utilities-description{
    	width: 100%;
	}
	.investors-calc__result p{
		width: 100%;
	}
	.investors-calc__result span {
	    font-size: 24px;
	    position: static;
	    float: left;
	}
	.investors-calc__result span.investors-calc__result-measure {
	    float: left;
	    margin-left: 20px;
	}
	.open-calcres{
		width: 100%;

	}
	.open-calcres .button:after{
		right: 4%;
	}
	@media only screen and (max-width: 320px){
		.open-calcres{
			padding: 0 10px;
		}
		.open-calcres .button:after{
			display: none;
		}
		.investors-calc__result h4{
			font-size: 20px;
		}
		p.investors-calc__subtitle{
			line-height: 150%;
		}
		.land-related .investors-calc__utilities-description {
		    margin-top: 10px;
		    text-align: left;
		}
		.investors-calc__fields-subtitle{
			line-height: 150%;
		}
		.investors-calc{
			margin-top: 30px;
		}
	}
}

@media only screen and (min-width: 1366px){
	.l-home__advantages-text.l-home__advantages-left-side{
		margin-left: 300px;
	}
	.l-home__advantages-left-side .l-home__advantages-image{
		margin-right: 0;
	    margin-left: 50px;
	    float: right;
	}
	.l-home__advantages-left-side .l-home__advantages-info{
		margin-left: 0;
	}
	.l-home__advantages-left-side .l-home__advantages-content{
		width: 52%;
	}
	.l-home__advantages-left-side .l-home__advantages-text-block li::before{
		width: 80px;
    	left: 38px;
	}
}

@media only screen and (min-width: 1700px){
	.l-home__advantages-text.l-home__advantages-left-side{
		max-width: 1150px;
	}
}
@media only screen and (max-width: 1440px){
	.l-home__advantages-image{
		width: 370px;
	}
	.l-home__advantages-text-block{
		font-size: 18px;
	}
}
@media only screen and (max-width: 768px){
	.l-home__advantages-text._short .l-home__advantages-content{
		width: 80%;
	}
}

.b-input-block.error-field{
	border: 1px solid #f39595;
    box-shadow: 0 0 4px 0px rgb(222 79 79 / .5);
}
.popup-error{
	position: absolute;
    bottom: -60px;
    font-size: 13px;
    background: #fff;
    border: 1px solid #d6d6d6;
    padding: 8px 12px;
    border-radius: 5px;
}
.b-report-block_status_approved.b-report-block_status_approved__hidden .b-report-block__header:after{
	visibility: hidden;
}
.b-report-block_status_approved.b-report-block_status_approved__hidden {
    border-color: transparent;
    background-color: #efeff4;
}
.b-message-block__item{
	flex-direction: column;
}
.b-message-block__item-searched{
	padding-top: 15px;
}

.b-reports-button{
	background: #fff;
    border: 1px solid #d3d4e0;
    color: inherit;
    font-size: 18px;
    line-height: 27px;
    display: inline-block;
    padding: 9px 24px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 30px;
    transition: .4s;
}

.b-reports-button:hover{
	background: #f9f9f9;
}

.chat-messages{
	border: 1px solid #d3d4e0;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 20px;
    max-height: 400px;
    overflow-y: scroll;
}
.chat-message{
	border-bottom: 1px solid #d8d8d8;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.chat-message__header{
	font-size: 12px;
    color: #9c9c9c;
    margin-bottom: 10px;
}
.chat-message__header-id{
    color: #6571ff;
    text-decoration: underline;
    display: inline-block;
    padding-right: 10px;
    cursor: pointer;
}
.chat-message__header-author{
	display: inline-block;
    padding-right: 10px;
}
.chat-message__header-date{

}
.chat-message__header-date::after{
	content: ":"
}
.chat-message__theme{
	padding: 0 10px;
    font-size: 13px;
    background: #f4f6ff;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    overflow: hidden;
    line-height: 38px;
}
.chat-message__text{
	font-size: 14px;
}
.chat-response textarea{
	width: 100%;
    max-width: 100%;
    height: 100px;
    border: 1px solid #d3d4e0;
    margin-bottom: 10px;
}
.chat-message-children{
	margin-left: 40px;
    margin-top: 20px;
}

.b-slider-reviews__person-img {
	background-position: top;
	min-height: 300px;
}

.export_report {
	font-family: Brutal,sans-serif;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 5px;
    background: none;
}

.l-report-form .export_report {
	font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px){
	.b-slider-reviews__person-img {
	    min-height: 380px;
	}
}

.b-footer__copyright-link{
	line-height: inherit;
}

.l-infrastructure {
	padding-bottom:  20px;
}

.b-services__text p {
    margin-bottom: 50px;
}

@media only screen and (min-width: 1600px){
	.l-infrastructure {
	    padding-bottom:  20px;
	}

	.b-services__text p {
	    margin-bottom: 50px;
	}
}

@media only screen and (min-width: 1280px){
	.l-infrastructure {
	    padding-bottom:  20px;
	}

	.b-services__text p {
	    margin-bottom: 50px;
	}
}

@media only screen and (min-width: 960px){
	.l-infrastructure {
	    padding-bottom:  20px;
	}

	.b-services__text p {
	    margin-bottom: 50px;
	}
}

@media only screen and (min-width: 670px){
	.l-infrastructure {
	    padding-bottom:  20px;
	}
}

.b-page-submenu__item {
	margin-right: 0;
	max-width: 16%;
	text-align: center;
}

.b-page-submenu__item:last-child{
	margin-right:  0;
}

.b-about-desc__links._strategy {
	margin-bottom:  40px;
}

.b-about-desc__title._strategy {
	font-weight: 500;
}

.strategy-dev{
	margin-bottom: 60px;
}
.strategy-dev__item-title{
	padding-left: 45px;
    position: relative;
    font-size: 18px;
    margin-bottom: 25px;
}
.strategy-dev__item-title-num{
	position: absolute;
    left: 0;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid;
    top: -5px;
    color: #313F9A;
    border-color: #313F9A;
}

.b-invest-post__list_theme-four li{
	width: 100%;
}
@media only screen and (min-width: 425px){
	.b-invest-post__list_theme-four li{
		width: 50%;
	}
}
@media only screen and (min-width: 1280px){
	.b-invest-post__list_theme-four li{
		width: 25%;
	}
}

.b-about-desc__text._strategy{
	width: 100%;
}
@media only screen and (min-width: 1280px){
	.b-about-desc__text._strategy{
		width: 80%;
	}
}

.b-advantage-location__container._strategy{
	margin-top: 100px;
	margin-bottom: 0;
}

.l-investors__documents._strategy{
	padding-top: 0;
    margin-bottom: 100px;
}

@media only screen and (min-width: 670px){
	.l-home__news-main-content {
		padding-bottom: 20px;
		padding-top: 20px;
	}

	.l-home__news-main-title {
	    font-size: 16px;
	    line-height: 24px;
	    min-height: 50px;
	}
}

@media only screen and (min-width: 1280px){
	.l-home__news-main-title {
	    font-size: 20px;
	    min-height: 90px;
	}
}

@media only screen and (min-width: 1600px){
	.l-home__news-main-content {
		padding-bottom: 40px;
		padding-top: 40px;
	}

	.l-home__news-main-title {
	    font-size: 22px;
	}

	.l-home__news-date, .l-home__news-subsection {
		margin-top:  30px;
	}
}

.resident-popup-open__pics{
	height: 370px;
	position: relative;
	width: 100%;
}

@media only screen and (min-width: 670px){
	.resident-popup-open__logo_no-photo {
		width: 640px;
	}
}

@media only screen and (min-width: 1024px){
	.resident-popup-open__logo_no-photo {
		width: 860px;
	}
}

.resident-popup-open__logo_no-photo {
	height: 100%;
	width:  100%;
}

.resident-popup-open__logo_no-photo img {
	margin: auto;
    display: block;
    height: 370px;
}

[data-popup$="_no-photo"] .b-popup__close:after, [data-popup$="_no-photo"] .b-popup__close:before {
    background-color: #363636;
}

.textarea-block {
	padding-top: 36px;
	border-radius: 0;
	border-bottom: 0;
}

.textarea-block .b-input-textarea {
	border: none;
}

.b-page-submenu__list {
	justify-content: space-between;
}

.b-offers__list {
	margin-bottom: 0;
}

.b-offers {
	padding-bottom: 80px;
}

._inner-area {
	position: relative;
	z-index: auto;
}

.b-area-main-screen__title._inner-area {
	padding-top: 10vh;
}

.b-area-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

.b-infrastructure-places {
	justify-content: space-around;
}

.b-income-tax, .b-reduced-rates {
	padding-top: 80px;
	padding-bottom: 80px;
}

.l-residents-menu ul {
	justify-content: start;
}

.l-residents-menu ul li{
	max-width: 25%;
	margin-right: 50px;
}

.l-residents-menu ul li:last-child {
	padding-right: 0;
}

.l-article .l-news-single__title {
	margin-bottom: 32px;
	padding-top: 0;
}

.l-article .l-news-single__tags {
	margin-bottom: 32px;
}

.l-article .l-news-single__slider {
	max-height: 400px;
}

.l-article .l-news-single__slider img {
	max-height: 400px;
	object-fit: cover;
}

.l-article .b-news-single-text {
	font-size: 24px;
	max-width: 100%;
}

@media only screen and (min-width: 960px) {
	.b-services__text p {
		margin-bottom: 30px;
	}
}

.l-home-plots__item:first-child {
	-webkit-order: 0;
	order: 0;
}

.l-home-plots__item, .l-home-plots__item:first-child {
	margin-bottom: 40px;
}

@media only screen and (min-width: 1600px) {
	.l-home-plots__text {
		margin-bottom: 0;
	}
}

.l-home-plots__all-map .l-home-plots__all-map-images, .l-home-plots__map .l-home-plots__all-map-images {
	background-image: url('/images/home/map_new.png');
}

.l-home-plots__all-map-images.lang-en {
	background-image: url('/images/home/map_new_eng.png');
}

.l-home-plots__map .l-home-plots__all-map-images {
	width: 660px;
	background-position: 75%;
}

.l-home-plots__all-map-build-parnas {
	width: 50px;
	height: 35px;
	left: 70.1%;
	top: 14%;
}

.l-home-plots__all-map-build-shushary {
	width: 50px;
	height: 35px;
	left: 78%;
	top: 68%;
}

.l-home-plots__all-map-icon.icon-airport {
	top: 80%;
	left: 69%;
}

@media only screen and (min-width: 960px) {
	.l-home-plots__all-map-build-parnas {
		left: 71%;
		top: 15%;
	}

	.l-home-plots__all-map-icon.icon-airport {
		top: 80%;
		left: 68%;
	}

	.l-home-plots__all-map-build-shushary {
		left: 78.5%;
		top: 68%;
	}
}

@media only screen and (min-width: 960px) and (max-width: 1280px) {
	.l-home-plots__all-map {
		height: 620px;
	}
}

@media only screen and (min-width: 1280px) {
	.l-home-plots__all-map-icon.icon-airport {
		top: 80%;
		left: 63%;
	}
}

@media only screen and (min-width: 1366px) {
	.l-home-plots__all-map-build-parnas {
		width: 87px;
		height: 69px;
		left: 66%;
		top: 13%;
	}

	.l-home-plots__all-map-build-shushary {
		width: 87px;
		height: 69px;
		left: 82.5%;
		top: 64%;
	}
}

@media only screen and (min-width: 1600px) {
	.l-home-plots__all-map-build-parnas {
		width: 75px;
		left: 74.5%;
		top: 13%;
	}

	.l-home-plots__all-map-icon.icon-airport {
		top: 80%;
		left: 60%;
	}

	.l-home-plots__all-map-build-shushary {
		width: 75px;
		left: 77.5%;
		top: 66%;
	}

	.l-home-plots__all-map-icon.icon-port {
		left: 32%;
	}

	.l-home-plots__all-map-icon.icon-rialway-station.icon-rialway-station-one {
		left: 52%;
	}

	.l-home-plots__all-map-icon.icon-center-city {
		left: 57%;
	}

	.l-home-plots__all-map-icon.icon-rialway-station.icon-rialway-station-two {
		left: 63%;
	}

}

@media only screen and (min-width: 1600px) and (max-width: 1780px) {
	.l-home-plots__all-map-images {
		width: 1780px;
		background-position: 140%;
	}

	.l-home-plots__all-map-build-shushary {
		left: 71%;
	}

	.l-home-plots__all-map-build-parnas {
		left: 63%;
	}

	.l-home-plots__all-map-build-novoorlovskaya {
		left: 46%;
	}

	.l-home-plots__all-map-build-neudorf {
		left: 17%;
	}
}

@media only screen and (min-width: 1780px) and (max-width: 1920px) {
	.l-home-plots__all-map-build-parnas {
		left: 70.5%;
	}

	.l-home-plots__all-map-icon.icon-airport {
		left: 67.5%;
	}
}

@media only screen and (min-width: 1920px) {
	.l-home-plots__all-map-build-parnas {
		left: 82.5%;
		top: 13%;
	}

	.l-home-plots__all-map-build-shushary {
		left: 92.5%;
	}

	.l-home-plots__all-map-icon.icon-port {
		left: 37%;
	}

	.l-home-plots__all-map-icon.icon-rialway-station.icon-rialway-station-one {
		left: 62%;
	}

	.l-home-plots__all-map-icon.icon-center-city {
		left: 68%;
	}

	.l-home-plots__all-map-icon.icon-rialway-station.icon-rialway-station-two {
		left: 76%;
	}

	.l-home-plots__all-map-icon.icon-airport {
		top: 80%;
		left: 72%;
	}
}

@media only screen and (min-width: 2330px) {
	.l-home-plots__all-map-build-parnas {
		left: 85%;
		top: 14%;
	}
}

@media only screen and (min-width: 1920px) and (max-width: 2230px) {
	.l-home-plots__all-map {
		height: 950px;
	}

	.l-home-plots__all-map-images {
		background-position: 70%;
	}

	.l-home-plots__all-map-build-novoorlovskaya {
		left: 52%;
	}

	.l-home-plots__all-map-build-neudorf {
		left: 17%;
	}

	.l-home-plots__all-map-build-parnas {
		left: 76%;
	}

	.l-home-plots__all-map-build-shushary {
		left: 86%;
	}
}

@media only screen and (min-width: 2330px) {
	.l-home-plots__all-map-build-shushary {
		left: 96%;
	}
}

@media only screen and (max-width: 1366px) and (min-width: 960px) {
	.l-home-plots__all-map-images {
		width: 1450px;
		background-position: 100%;
	}
}

@media only screen and (max-width: 1366px) and (min-width: 1280px) {
	.l-home-plots__all-map-build-novoorlovskaya {
		left: 42.5%;
	}

	.l-home-plots__all-map-build-neudorf {
		left: 9%;
	}

	.l-home-plots__all-map-build-parnas {
		left: 62%;
		top: 13%;
	}

	.l-home-plots__all-map-build-shushary {
		left: 72%;
		top: 66%;
	}

	.l-home-plots__all-map-icon.icon-port {
		left: 27%;
	}

	.l-home-plots__all-map-icon.icon-rialway-station.icon-rialway-station-one {
		left: 50%;
	}

	.l-home-plots__all-map-icon.icon-center-city {
		left: 56%;
	}

	.l-home-plots__all-map-icon.icon-rialway-station.icon-rialway-station-two {
		left: 63%;
	}

	.l-home-plots__all-map-icon.icon-airport {
		left: 59%;
		top: 80%;
	}
}

@media only screen and (min-width: 960px) and (max-width: 1280px) {
	.l-home-plots__all-map-build-novoorlovskaya {
		left: 55.5%;
		top: 12%;
	}

	.l-home-plots__all-map-build-neudorf {
		top: 65%;
		left: 30%;
	}
}

.l-home-plots__map .l-home-plots__all-map-build-one {
	left: 39.5%;
	top: 13%;
}

.l-home-plots__map .l-home-plots__all-map-build-two {
	left: 10%;
	top: 66%;
}

.l-home-plots__map .l-home-plots__all-map-build-three {
	left: 68%;
	top: 16%;
}

.l-home-plots__map .l-home-plots__all-map-build-four {
	left: 79%;
	top: 69%;
}

.l-home-plots__all-map-icon.icon-port-mobile {
	left: 33%;
	top: 36%;
}

.l-home-plots__map .l-home-plots__all-map-icon.icon-rialway-station.icon-rialway-station-one {
	left: 56%;
}

.l-home-plots__map .l-home-plots__all-map-icon.icon-center-city {
	left: 63%;
}

.l-home-plots__map .l-home-plots__all-map-icon.icon-rialway-station.icon-rialway-station-two {
	left: 70%;
}

.l-home-plots__map .l-home-plots__all-map-icon.icon-airport {
	left: 67%;
	top: 80%;
}

@media only screen and (min-width: 1280px) {
	.area-parnas .b-area-trait,
	.area-shushary .b-area-trait {
		width: 16.68966%;
	}

	.area-parnas .b-area-trait:first-child,
	.area-shushary .b-area-trait:first-child {
		width: 27.68966%;
	}

	.area-parnas .b-area-main-feature,
	.area-shushary .b-area-main-feature {
		width: 16.68966%;
	}

	.area-parnas .b-area-main-feature:first-child,
	.area-shushary .b-area-main-feature:first-child{
		width: 27.68966%;
	}

	.area-novoorlovskaya .b-area-trait {
		width: 16.68966%;
	}

	.area-novoorlovskaya .b-area-trait:first-child {
		width: 28.68966%;
	}

	.area-novoorlovskaya .b-area-main-feature {
		width: 17.68966%;
	}

	.area-novoorlovskaya .b-area-main-feature:first-child {
		width: 27.68966%;
	}
}

@media only screen and (min-width: 1610px) {
	.area-novoorlovskaya .b-area-main-feature:first-child {
		width: 27.68966%;
	}

	.area-novoorlovskaya .b-area-main-feature {
		width: 16.68966%;
	}
}

.b-area-traits.b-area-traits_three-columns {
	 padding-bottom: 0;
 }

.b-team__item {
	display: flex;
	flex-direction: row;
	max-width: 50%;
	margin: 0;
}

@media only screen and (max-width: 960px) {
	.b-team__item {
		max-width: 100%;
	}
}

.b-team__info {
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.b-team__photo {
	max-width: 40%;
	margin: 0 0 0 30px;
}

.b-team__description {
	flex-basis: content;
	flex-grow: 0;
}

.b-team.__solo {
	display: flex;
	justify-content: end;
}

.b-vacancy-resident .b-vacancy {
	margin-left: 30px;
}

.b-vacancies-list {
	margin-bottom: 30px;
}

.b-vacancy-resident__header {
	font-size: 20px;
	line-height: 30px;
	color: #454650;
}

.b-vacancy-resident__content-wrapper {
	-webkit-transition-property: height;
	transition-property: height;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	overflow: hidden;
	position: relative;
	z-index: 2;
	height: 0;
}

.b-vacancy-res_is_open .b-vacancy-resident__content-wrapper {
	height: auto !important;
}

.b-vacancy-res_is_open .b-vacancy-resident__header:after {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	top: 38px;
}

.b-page-submenu__item:last-child {
	padding-right: 0;
}

.b-title {
	padding-bottom: 32px;
}

.__archived {
	width: 0;
	overflow: hidden;
	transition: .3s;
}

.__archived-visible {
	width: 92px;
}

.news-tags {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.news-years-group {
	justify-content: end;
}

.b-mini-filter__group {
	margin-right: 0;
}

@media only screen and (max-width: 1440px) {
	.news-tags {
		flex-direction: column;
	}

	.b-mini-filter__item {
		order: 2;
	}

	.b-mini-filter__item.j-show-archive {
		order: 1;
	}

	.news-years-group {
		justify-content: start;
	}
}

.b-about-desc__text:before, .b-advantages__place-text p:before, .b-offers__item:before {
	background: #30409a;
}

.news-tags.lang_en {
	display: none;
}

@media only screen and (min-width: 1280px) {
	.l-news-single__slider {
		max-width: 80%;
	}

	.glide__slide img {
		display: block;
		max-width: 100%;
		max-height: 464px;
		margin: auto;
		width: auto;
	}

	.l-news-single__back,
	.l-news-single__title,
	.l-news-single__tags,
	.l-news-single__top-text,
	.l-news-single__slider,
	.l-news-single__bottom-text,
	.l-news-single__actions,
	.l-news-single__press-office {
		padding-left: 15%;
		padding-right: 15%;
	}

	.l-news-single {
		padding-top: 20px;
	}

	.l-news-single__title {
		margin-bottom: 12px;
	}

	.l-news-single__tags {
		margin-bottom: 12px;
	}
}

.glide__slide-description:after {
	display: none;
}

.l-news-single__slider {
	margin-bottom: 32px;
}

.ya-share2__item.ya-share2__item_service_telegram {
	background-image: url('/images/share/tg.png');
}

.area-novoorlovskaya .subarea-innocenter .b-area-main-feature {
	width: 30%;
}

@media only screen and (max-width: 1280px) {
	.subarea-innocenter .b-area-main-feature__value {
		font-size: 50px;
	}
}

@media only screen and (max-width: 1024px) {
	.subarea-innocenter .b-area-main-feature__value {
		font-size: 40px;
	}
	.subarea-innocenter .b-area-main-feature__description {
		white-space: normal;
	}
}

@media only screen and (max-width: 780px) {
	.subarea-innocenter .b-area-main-feature__value {
		font-size: 33px;
	}
}

@media only screen and (max-width: 780px) {
	.area-novoorlovskaya .subarea-innocenter .b-area-main-feature {
		width: 100%;
	}
}
